# compiled output
/dist
/node_modules
/build

# prisma
/src/app/infra/data/prisma/migrations
/prisma/migrations/*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Imagenes de los usuarios
uploads/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
src/app/infra/data/migrations/*
src/app/infra/data/migrations/migration_lock.toml
src/app/infra/data/migrations/20241013162101_hash_password_user/migration.sql
src/app/infra/data/migrations/20241014151532_add_pets_and_medical_info/migration.sql
src/app/infra/data/migrations/20241014154611_add_pets_and_medical_info_columns/migration.sql
src/app/infra/data/migrations/20241018212902_email_user/migration.sql
src/app/infra/data/migrations/20241018213928_data_user/migration.sql
src/app/infra/data/migrations/20241018214350_role_user/migration.sql
src/app/infra/data/migrations/20241018224333_null_hashpassword_user/migration.sql
